<div class="d-flex flex-column pb-5 flex-md-row justify-content-evenly align-items-md-center">

  <div class="text-center py-5 col-lg-4">

    <img
      src="https://www.uninsubria.it/sites/default/files/styles/medium/public/transgender.png?itok=ifVuS_IK"
      class="bd-placeholder-img rounded-circle" width="140" height="140" alt="Profile picture">

    <div class="p-4">
      <h4 class="text-center">{{profile?.name}} {{profile?.surname}}</h4>
    </div>

    <div>
      <ul class="list-unstyled">
        <li><button [routerLink]="['/profile']">Account</button></li>
        <li><button [routerLink]="['/profile/password']">Password</button></li>
        <li><button [routerLink]="['/profile/security']">Security</button></li>
        <li><button [routerLink]="['/profile/shop']">Shop</button></li>
      </ul>
    </div>

  </div>

  <div class="py-5 col-lg-6">
    <router-outlet></router-outlet>
  </div>

</div>
