<div class="container-fluid d-flex flex-column align-items-center justify-content-center col-lg-10">

  <h3 class="pb-3">Profile</h3>

  <p id="username" class="d-none text-danger">Username already taken!</p>
  <p id="email" class="d-none text-danger">Email already taken!</p>
  <p id="errGeneric" class="d-none text-danger">Error generic please contact the developers team!</p>


  <form class="" #infoForm="ngForm" (ngSubmit)="ngOnSubmit(infoForm.value)">
    <div class="d-lg-flex justify-content-lg-between">

      <div class="col-lg-5 justify-content-lg-center">

        <div class="inputBox">
          <input id="name" type="text" #name="ngModel" ngModel={{profile?.name}}  name="name" required="required"
            [readonly]="this.isEditable">
          <span>Name</span>
        </div>

        <div class="inputBox">
          <input id="username" type="text" #username="ngModel" ngModel={{profile?.username}} name="username" required="required"
            [readonly]="this.isEditable">
          <span>Username</span>
        </div>

      </div>

      <div class="col-lg-5">

        <div class="inputBox">
          <input id="surname" type="text" #surname="ngModel" ngModel={{profile?.surname}} name="surname" required="required"
            [readonly]="this.isEditable">
          <span>Surame</span>
        </div>

        <div class="inputBox">
          <p class="text-danger" *ngIf="email.touched && email.invalid"><strong>Insert a valid email!</strong></p>
          <input id="email" type="email" #email="ngModel" ngModel={{profile?.email}} name="email" required="required"
            [readonly]="this.isEditable" pattern="[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?" >
          <span>Email</span>
        </div>

      </div>
    </div>

    <div id="modale" class="contaier d-flex justify-content-center vh-100 align-items-center visibility">
      <div class="card d-flex align-items-center p-4">
        <p>Insert password to confirm</p>
        <p id="i" class="d-none text-danger">Password incorrect! (Digit at least 8 charts, a capital case, a number and a special chart!)</p>

        <div class="inputBox">
          <input id="password" type="password" autocomplete="off" #password="ngModel" ngModel name="password" required="required"
            [readonly]="this.isEditable">
          <span>Password</span>
        </div>
        <div>
          <button class="update-button me-3" type="button" (click)="back()">back</button>
          <button class="update-button" type="submit" [disabled]="infoForm.invalid">Enter</button>
        </div>
      </div>
    </div>

    <button class="update-button me-3" type="button" (click)="digit()">{{updateBtn}}</button>
    <button id="submit" class="update-button visibility" type="button" (click)="edit()" [disabled]="name.invalid || email.invalid || username.invalid ||surname.invalid" >Submit</button>

  </form>

</div>
