<div class="container-fluid d-flex flex-column align-items-center justify-content-center col-lg-10">

  <h3 class="pb-3">Change Password</h3>

  <form class="" #passwordForm="ngForm" (ngSubmit)="updatePassword(passwordForm.value)">
    <p class="text-danger"
      *ngIf="!this.isEditable && password.touched && password2.touched && actualPassword.touched && passwordForm.invalid">
      <strong>Fill the fields! (Digit at least 8 charts, a capital case, a number and a special chart!)</strong></p>
    <p id="errGeneric" class="d-none text-danger">Error generic please contact the developers team!</p>
    <p id="i" class="d-none text-danger">Wrong Password!</p>
    <p id="success" class="d-none text-success">Password succesfully changed!</p>
    <div class="d-lg-flex justify-content-lg-between">

      <div class="col-lg-5">

        <div class="inputBox">
          <input [ngClass]="{'redBorder': !this.isEditable && actualPassword.touched && actualPassword.invalid}"
            id="actualPassword" type="password" autocomplete="off" #actualPassword="ngModel" ngModel
            name="actualPassword" required="required" placeholder="Old Password" [readonly]="this.isEditable"
            pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[a-zA-Z]).{8,}$">
          <span>Password</span>
        </div>

        <div class="inputBox">
          <p class="text-danger pb-2"
            *ngIf="password.touched && password2.touched && password.value != password2.value"><strong>Passwords must be
              the same!</strong></p>
          <input [ngClass]="{'redBorder': !this.isEditable && password.touched && password.invalid}" id="password"
            type="password" autocomplete="off" #password="ngModel" ngModel name="password" required="required"
            placeholder="Password" [readonly]="this.isEditable"
            pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[a-zA-Z]).{8,}$">
          <span>Password</span>
        </div>

      </div>

      <div class="col-lg-5">

        <div class="inputBox">
          <input [ngClass]="{'redBorder': !this.isEditable && password2.touched && password2.invalid}" id="password2"
            type="password" autocomplete="off" #password2="ngModel" ngModel name="password2" required="required"
            placeholder="Confirm Password" [readonly]="this.isEditable"
            pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[a-zA-Z]).{8,}$">
          <span>Password</span>
        </div>

      </div>
    </div>

    <button class="update-button me-3" type="button" (click)="edit()">{{updateBtn}}</button>
    <button id="submit" class="update-button visibility"
      [disabled]="passwordForm.invalid || password.value != password2.value" type="submit">Submit</button>

  </form>

</div>
