<div class="container-fluid d-flex flex-column align-items-center justify-content-center col-lg-10">

  <h3 class="pb-3">Change Password</h3>

  <form class="" #passwordForm="ngForm" (ngSubmit)="updatePassword(passwordForm.value)">
    <div class="d-lg-flex justify-content-lg-between">

      <div class="col-lg-5">

        <div class="inputBox">
          <input id="actualPassword" type="password" #actualPassword="ngModel" ngModel name="actualPassword"  required="required"
          [readonly]="this.isEditable">
        <span>Actual Pass</span>
        </div>

        <div class="inputBox">
          <input id="password" type="password" #password1="ngModel" ngModel name="password" required="required"
          [readonly]="this.isEditable">
        <span>Password</span>
        </div>

      </div>

      <div class="col-lg-5">

        <div class="inputBox">
          <input id="password2" type="password" #password2="ngModel" ngModel name="password2"  required="required"
            [readonly]="this.isEditable">
          <span>Confirm</span>
        </div>

      </div>
    </div>

    <button class="update-button" type="button" (click)="edit()">{{updateBtn}}</button>
    <button id="submit" class="update-button visibility" type="submit">Submit</button>

  </form>

  </div>

