<form class="contaier d-flex justify-content-center vh-100 align-items-center" action="POST" method="post" #forgotPasswordForm="ngForm" method="post" (ngSubmit)="onSubmit(forgotPasswordForm.value)">
  <div class="card d-flex align-items-center p-4">
    <h3>Forgot Password</h3>
    <p id="i" class="d-none text-danger">Email not registered</p>
    <div class="inputBox">
      <p class="text-danger" *ngIf="email.touched && email.invalid"><strong>Fill the field!</strong></p>
      <input  [ngClass]="{'redBorder': email.touched && email.invalid}" id="email" type="text" #email="ngModel" ngModel name="email" required="required" placeholder="email">
      <span>Email</span>
    </div>
    <button type="submit" [disabled]="!forgotPasswordForm.valid">Reset</button>
    <p class="d-flex">Already signed up? <a [routerLink]="['/']" class="nav-link ps-2"> Login</a></p>

  </div>
</form>

