<form class="contaier d-flex justify-content-center m-5 align-items-center" action="POST" method="post" #forgotPasswordForm="ngForm" method="post" (ngSubmit)="onSubmit(forgotPasswordForm.value)">

  <div id="submitForm" class="card d-flex align-items-center p-4">
    <h3>Forgot Password</h3>
    <p id="success" class="d-none text-succes text-center">We've sent a reset link to {{emailString}}!</p>
    <p id="i" class="d-none text-danger">Email not registered</p>
    <div class="inputBox">
      <p class="text-danger" *ngIf="email.touched && email.invalid"><strong>Fill the field!</strong></p>
      <input  [ngClass]="{'redBorder': email.touched && email.invalid}" id="email" type="text" #email="ngModel" ngModel name="email" required="required" placeholder="email" pattern="[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?">
      <span>Email</span>
    </div>
    <button type="submit" [disabled]="!forgotPasswordForm.valid">Reset</button>
    <p class="d-flex">Already signed up? <a [routerLink]="['/guest/login']" class="nav-link ps-2"> Login</a></p>

  </div>
</form>

