<app-navbar></app-navbar>
<router-outlet></router-outlet>


<!---NEWSLETTER-->
<section class="newsLetter p-4 text-center">
  <div>
    <div class="row">
      <div class="col-md-12 col-lg-6 mt-4">
        <h3>Subscribe to our newsletter, and get now a <span>of 25%</span></h3>
      </div>
      <form class="col-md-12 col-lg-6 mt-5">
        <div class="row">
          <div class="col-8">
            <input type="email" class="form-control" id="inputEmal" placeholder="Digit your E-mail">
          </div>
          <div class="col-4">
            <button type="submit" class="btn btn-success">Enter</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>

<!---FOOTER--->
<footer class="bg-dark p-5 text-center">
  <div class="">
    <div class="row">
      <div class="col-sm-12 col-md-3">
        <a class="navbar-brand">
          <img src="./../../../assets/img/insta-square.png" alt="movo-logo-img" width="200" class="mt-3">
        </a>
      </div>
      <div class="col-sm-12 col-md-9">
        <p class="copywrite text-center text-light mt-4">
          Copyright &copy; 2022 All rights reserved
        </p>
      </div>
    </div>
  </div>
</footer>


