.inputBox {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.inputBox input {
  border-left: 2px solid rgba(0, 0, 0, 0.202);
  border-bottom: 2px solid rgba(0, 0, 0, 0.202);
}

@media (min-width:992px) and (max-width:1200px) {
  .inputBox {
    width: 250px;
  }
}

.cat-span {
  display: inline;
  border-radius: 5px;
  border-left: 2px solid rgba(0, 0, 0, 0.202);
  border-bottom: 2px solid rgba(0, 0, 0, 0.202);
  color: #000;
}
