<!-- <form action="POST" method="post" [formGroup]="loginForm" (ngSubmit)="onSubmit()">

  <label for="username">Username: </label>
  <input id="username" type="email" formControlName="username">

  <label for="password">Password: </label>
  <input id="password" type="password" formControlName="password">

  <p>Complete the form to enable button.</p>
  <button type="submit" [disabled]="!loginForm.valid">Submit</button>
</form> -->

<form class="contaier d-flex justify-content-center vh-100 align-items-center" action="POST" method="post" #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm.value)">
  <div class="card d-flex align-items-center p-4">
    <h3>Login</h3>
    <p id="i" class="d-none text-danger">User don't exist or Passwod incorrect</p>
    <div class="inputBox">
        <p id="i" class="d-none text-danger">L'utente non esiste</p>
      <p class="text-danger" *ngIf="username.touched && username.invalid"><strong>Fill the field!</strong></p>
      <input  [ngClass]="{'redBorder': username.touched && username.invalid}" id="username" type="text" #username="ngModel" ngModel name="username" required="required" placeholder="Username">
      <span>Username</span>
    </div>

    <div class="inputBox">
      <p class="text-danger" *ngIf="password.touched  && password.invalid"><strong>Digit at least 8 charts, a capital case, a number and a special chart!</strong></p>
      <input [ngClass]="{'redBorder': password.touched && password.invalid}" id="password" type="password" #password="ngModel" ngModel name="password"  required="required" placeholder="Password" pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[a-zA-Z]).{8,}$">
      <span>Password</span>
      <div class="d-flex justify-content-end mt-1">
      <a [routerLink]="['/forgot/password']" class="nav-link">Forgot you password?</a>
    </div>
    </div>

    <button type="submit" [disabled]="!loginForm.valid">Enter</button>
    <p class="d-flex">First time here? <a [routerLink]="['/singup']" class="nav-link ps-2"> Sing Up</a></p>

  </div>
</form>
