<div>
  <form id="logForm" class="contaier d-flex justify-content-center m-5 align-items-center" action="POST"
    method="post" #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm.value)">
    <div class="card d-flex align-items-center p-4">
      <h2>Log in</h2>
      <p id="i" class="d-none text-danger">User not exist or wrong Password!</p>
      <div class="inputBox">
        <p class="text-danger" *ngIf="username.touched && username.invalid">Fill the fields!</p>
        <input [ngClass]="{'redBorder': username.touched && username.invalid}" id="username" type="text"
          #username="ngModel" ngModel name="username" required="required" placeholder="Username">
        <span>Username</span>
      </div>

      <div class="inputBox">
        <p class="text-danger" *ngIf="password.touched  && password.invalid">Digit at least 8 charts, a capital
            case, a number and a special chart!</p>
        <input [ngClass]="{'redBorder': password.touched && password.invalid}" id="password" type="password"
          autocomplete="off" #password="ngModel" ngModel name="password" required="required" placeholder="Password"
          pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[a-zA-Z]).{8,}$">
        <span>Password</span>
        <div class="d-flex justify-content-end mt-1">
          <a [routerLink]="['/guest/forgot/password']" class="nav-link">Forgot you password?</a>
        </div>
      </div>

      <button type="submit" [disabled]="!loginForm.valid">Enter</button>
      <p class="d-flex">First time here? <a [routerLink]="['/guest/singup']" class="nav-link ps-2"> Sing Up</a></p>

    </div>
  </form>
</div>
